<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig" />
	<libraries library-dir="./lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="org.gvsig.iconThemeBase.ExtensionIcon16Theme"
			description="Extensión encargada de cargar iconos de 16x16."
			active="true"
			priority="50">					
		</extension>
		<extension class-name="org.gvsig.iconThemeBase.ExtensionIcon22Theme"
			description="Extensión encargada de cargar iconos de 22x22."
			active="false"
			priority="50">					
		</extension>
	</extensions>
</plugin-config>