<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<libraries library-dir="lib"/>
	<depends plugin-name="com.iver.cit.gvsig" />
	<depends plugin-name="org.gvsig.scripting" />
	<depends plugin-name="org.gvsig.geodb" />
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="com.iver.cit.gvsig.CreateNewLayer"
			description="Crear una nueva capa."
			active="true" >
			<menu text="Vista/new_layer/new_shp" action-command="SHP"/>
			<menu text="Vista/new_layer/new_dxf" action-command="DXF"/>
			<menu text="Vista/new_layer/new_postgis" action-command="POSTGIS"/>
		</extension>
		<extension class-name="com.iver.cit.gvsig.StartEditing"
			description="Extensión encargada de comenzar la edición sobre la capa activa."
			active="true">
			<menu text="Capa/start_edition" action-command="STARTEDITING"/>
		</extension>


		<extension class-name="com.iver.cit.gvsig.StopEditing"
			description="Extensión encargada de terminar la edición sobre la capa activa y guardarla sobre sí misma."
			active="true">
			<menu text="Capa/stop_edition" action-command="STOPEDITING"/>
		</extension>
		<extension class-name="com.iver.cit.gvsig.ExportTo"
			description="Exportar a diversos formatos"
			active="true">
			<menu text="Capa/export_to/shp" action-command="SHP"/>
			<menu text="Capa/export_to/dxf" action-command="DXF"/>
		</extension>

		<!-- <extension class-name="com.iver.cit.gvsig.StopEditingToGT2Shp"
			description="Extensión encargada de terminar la edición sobre la capa activa y guardarla sobre sí misma si es un shapefile."
			active="true">
			<menu text="Capa/stop_edition/GT2shp" action-command="STOPEDITING"/>
		</extension> -->
		<extension class-name="com.iver.cit.gvsig.RedoViewExtension"
			description="Extensión encargada de rehacer la edición sobre la capa activa."
			active="true">
			<menu text="Capa/redo" action-command="REDO" icon="view-redo"/>
		<tool-bar name="modificar" position="31">
				<action-tool name="redo" icon="view-redo" action-command="REDO" tooltip="redo" group="vista" position="2"/>
		</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.UndoViewExtension"
			description="Extensión encargada de dehacer la edición sobre la capa activa."
			active="true" >
			<menu text="Capa/undo" action-command="UNDO" icon="view-undo"/>
		<tool-bar name="modificar" position="31">
				<action-tool name="deshacer" icon="view-undo" action-command="UNDO" tooltip="undo" group="vista" position="1"/>
		</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.ViewCommandStackExtension"
			description="Extensión encargada de administrar la pila de comados de edición sobre una vista."
			active="true">
			<menu text="Archivo/commands_stack" action-command="COMMANDSTACK" icon="commands-stack"/>
		<tool-bar name="gvsig" position="32">
			<action-tool name="commands_stack" icon="commands-stack" action-command="COMMANDSTACK" tooltip="commands_stack" group="vista" position="1"/>
		</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.TableCommandStackExtension"
			description="Extensión encargada de administrar la pila de comados de edición sobre una tabla."
			active="true">
			<menu text="Archivo/commands_stack" action-command="COMMANDSTACK" icon="commands-stack"/>
		<tool-bar name="gvsig">
			<action-tool name="commands_stack" icon="commands-stack" action-command="COMMANDSTACK" tooltip="commands_stack" group="tabla" position="1"/>
		</tool-bar>
		</extension>

		<extension class-name="com.iver.cit.gvsig.CADExtension"
			description="Extensión encargada de gestionar los eventos realizados sobre las geometrías."
			active="true">
			<menu text="geometry/modify/copy" action-command="_copy" icon="edition-geometry-copy"/>
			<menu text="geometry/modify/symmetry" action-command="_symmetry" icon="edition-geometry-symmetry"/>
			<menu text="geometry/modify/rotate" action-command="_rotate" icon="edition-geometry-rotate"/>
			<menu text="geometry/modify/scale" action-command="_scale" icon="edition-geometry-scale"/>

			<tool-bar name="modificar" position="31">
				<selectable-tool icon="edition-geometry-copy" action-command="_copy" tooltip="copy" group="vista" position="4"/>
				<selectable-tool icon="edition-geometry-symmetry" action-command="_symmetry" tooltip="symmetry" group="vista" position="5"/>
				<selectable-tool icon="edition-geometry-rotate" action-command="_rotate" tooltip="rotate" group="vista" position="7"/>
				<selectable-tool icon="edition-geometry-scale" action-command="_scale" tooltip="scale" group="vista" position="8"/>
			</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.ExploitExtension"
			description="Extensión encargada de simplificar geometrías complejas."
			active="true">
			<menu text="geometry/modify/exploit" action-command="_exploit" icon="edition-geometry-exploit"/>
			<tool-bar name="modificar" position="31">
				<action-tool icon="edition-geometry-exploit" action-command="_exploit" tooltip="exploit" group="vista" position="14"/>
			</tool-bar>
		</extension>

		<extension class-name="com.iver.cit.gvsig.MoveGeometryExtension"
			description="Extensión encargada de mover las geometrías."
			active="true">
			<menu text="geometry/modify/move" action-command="_move" icon="edition-geometry-move"/>
			<tool-bar name="modificar" position="31">
				<selectable-tool icon="edition-geometry-move" action-command="_move" tooltip="move" group="vista" position="3"/>
			</tool-bar>
		</extension>

		<extension class-name="com.iver.cit.gvsig.InsertPointExtension"
			description="Extensión encargada de insertar puntos en una capa en edición."
			active="true">
			<menu text="geometry/insert/point" action-command="_point" icon="edition-insert-geometry-point"/>
			<tool-bar name="insert" position="30">
				<selectable-tool icon="edition-insert-geometry-point" action-command="_point" tooltip="point" group="vista" position="1"/>
			</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.InsertMultiPointExtension"
			description="Extensión encargada de insertar multipuntos en una capa en edición."
			active="true">
			<menu text="geometry/insert/multipoint" action-command="_multipoint" icon="edition-insert-geometry-multipoint"/>
			<tool-bar name="insert" position="30">
				<selectable-tool icon="edition-insert-geometry-multipoint" action-command="_multipoint" tooltip="multipoint" group="vista" position="2"/>
			</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.InsertLineExtension"
			description="Extensión encargada de insertar líneas en una capa en edición."
			active="true">
			<menu text="geometry/insert/line" action-command="_line" icon="edition-insert-geometry-line"/>
			<menu text="geometry/insert/arc" action-command="_arc" icon="edition-insert-geometry-arc"/>

			<tool-bar name="insert" position="30">
				<selectable-tool icon="edition-insert-geometry-line" action-command="_line" tooltip="line" group="vista" position="3"/>
				<selectable-tool icon="edition-insert-geometry-arc" action-command="_arc" tooltip="arc" group="vista" position="4"/>
			</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.InsertPolyLineExtension"
			description="Extensión encargada de insertar polilíneas en una capa en edición."
			active="true">
			<menu text="geometry/insert/polyline" action-command="_polyline" icon="edition-insert-geometry-polyline"/>
			<menu text="geometry/insert/spline" action-command="_spline" icon="edition-insert-geometry-spline"/>

			<tool-bar name="insert" position="30">
				<selectable-tool icon="edition-insert-geometry-polyline" action-command="_polyline" tooltip="polyline" group="vista" position="5"/>
				<selectable-tool icon="edition-insert-geometry-spline" action-command="_spline" tooltip="spline" group="vista" position="5"/>
			</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.InsertPolygonExtension"
			description="Extensión encargada de insertar poligonos en una capa en edición."
			active="true">
			<menu text="geometry/insert/polygon" action-command="_polygon" icon="edition-insert-geometry-poligon"/>
			<menu text="geometry/insert/rectangle" action-command="_rectangle" icon="edition-insert-geometry-rectangle"/>
			<menu text="geometry/insert/circle" action-command="_circle" icon="edition-insert-geometry-circle"/>
			<menu text="geometry/insert/ellipse" action-command="_ellipse" icon="edition-insert-geometry-ellipse"/>
			<menu text="geometry/modify/edit_vertex" action-command="_editvertex" icon="edition-geometry-edit-vertex"/>
			<tool-bar name="insert" position="30">
				<selectable-tool icon="edition-insert-geometry-poligon" action-command="_polygon" tooltip="polygon" group="vista" position="6"/>
				<selectable-tool icon="edition-insert-geometry-rectangle" action-command="_rectangle" tooltip="rectangle" group="vista" position="7"/>
				<selectable-tool icon="edition-insert-geometry-circle" action-command="_circle" tooltip="circle" group="vista" position="8"/>
				<selectable-tool icon="edition-insert-geometry-ellipse" action-command="_ellipse" tooltip="ellipse" group="vista" position="9"/>
			</tool-bar>
			<tool-bar name="modificar" position="31">
				<selectable-tool icon="edition-geometry-edit-vertex" action-command="_editvertex" tooltip="edit_vertex" group="vista" position="8"/>
			</tool-bar>
		</extension>
		<!--extension class-name="com.iver.cit.gvsig.BreakExtension"
			description="Extensión encargada de partir una geomtría en edición."
			active="true">
			<menu text="geometry/modify/break" action-command="_break" icon="edition-geometry-break"/>
			<tool-bar name="modificar" position="31">
				<selectable-tool icon="edition-geometry-break" action-command="_break" tooltip="break" group="vista" position="9"/>
			</tool-bar>
		</extension-->
		<extension class-name="com.iver.cit.gvsig.JoinExtension"
			description="Extensión encargada de unir varias geometría en edición."
			active="true">
			<menu text="geometry/modify/join" action-command="_join" icon="edition-geometry-Join"/>
			<tool-bar name="modificar" position="31">
				<selectable-tool icon="edition-geometry-Join" action-command="_join" tooltip="join" group="vista" position="10"/>
			</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.InternalPolygonExtension"
			description="Extensión encargada de insertar poligonos internos en una capa en edición."
			active="true">
			<menu text="geometry/modify/internal_polygon" action-command="_internalpolygon" icon="edition-modify-geometry-internalpolygon"/>
			<tool-bar name="modificar" position="31">
				<selectable-tool icon="edition-modify-geometry-internalpolygon" action-command="_internalpolygon" tooltip="internal_polygon" group="vista" position="11"/>
			</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.StretchExtension"
			description="Extensión encargada de estirar geometrías en una capa en edición."
			active="true">
			<menu text="geometry/modify/stretch" action-command="_stretch" icon="edition-geometry-stretch"/>
			<tool-bar name="modificar" position="31">
				<selectable-tool icon="edition-geometry-stretch" action-command="_stretch" tooltip="stretch" group="vista" position="12"/>
			</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.ComplexSelectionGeometryExtension"
			description="Extensión encargada de la selección compleja de geometrías."
			active="true">
			<menu text="geometry/seleccion_compleja" action-command="_complex_selection" icon="edition-complex-selection"/>
			<tool-bar name="modificar" position="31">
				<selectable-tool icon="edition-complex-selection" action-command="_complex_selection" tooltip="complex_selection" group="vista" position="16"/>
			</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.SelectionGeometryExtension"
			description="Extensión encargada de seleccionar las geometrías."
			active="true">
			<menu text="geometry/seleccionar" action-command="_selection" icon="edition-geometry-select"/>
			<tool-bar name="modificar" position="31">
				<selectable-tool icon="edition-geometry-select" action-command="_selection" tooltip="selection" group="vista" position="15"/>
			</tool-bar>
		</extension>
		<extension class-name="com.iver.cit.gvsig.MatrixExtension"
			description="Extensión encargada de crear una matriz a partir de la geometría seleccionada."
			active="true">
			<menu text="geometry/modify/matrix" action-command="_matrix" icon="edition-geometry-matrix"/>
			<tool-bar name="modificar" position="31">
				<selectable-tool icon="edition-geometry-matrix" action-command="_matrix" tooltip="matrix" group="vista" position="17"/>
			</tool-bar>
		</extension>
		<!--extension class-name="com.iver.cit.gvsig.EquidistanceExtension"
			description="Extensión encargada de crear una geometría equidistante a otra."
			active="true">
			<menu text="geometry/modify/equidistance" action-command="_equidistance" icon="edition-geometry-equidistance"/>
			<tool-bar name="modificar" position="31">
				<selectable-tool icon="edition-geometry-equidistance" action-command="_equidistance" tooltip="equidistance" group="vista" position="18"/>
			</tool-bar>
		</extension-->
		<extension class-name="com.iver.cit.gvsig.AutoCompletePolygonExtension"
			description="Extensión encargada de restablecer la selección anterior."
			active="true">
			<menu text="geometry/insert/autopolygon" action-command="AUTOCOMPLETE_POLYGON" icon="edition-geometry-autocompletepolygon"/>
			<tool-bar name="insert" position="30">
				<action-tool icon="edition-geometry-autocompletepolygon" action-command="AUTOCOMPLETE_POLYGON" tooltip="autocomplete-polygon" group="vista" position="20"/>
			</tool-bar>
		</extension>
        <extension class-name="com.iver.cit.gvsig.SplitGeometryCADToolExtension"
            description="herramienta para dividir una geometria con una linea"
            active="true">
            <tool-bar name="Topology">
                <selectable-tool icon="split-geometry" action-command="_split_geometry" tooltip="split_geometry" enable-text="select_geometry_to_split" last="false" position="8"/>
            </tool-bar>
        </extension>
		<!--extension class-name="com.iver.cit.gvsig.LayerPropertiesExtension"
			description="Abre el diálogo de propiedades de la capa."
			active="true" >
			<menu text="Capa/Propiedades" action-command="PROPERTIES"/>
		</extension-->

	</extensions>
</plugin-config>
