<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin-config>
   <depends plugin-name="com.iver.cit.gvsig" />
   <resourceBundle name="text"/>
   <libraries library-dir="."/>
   <extensions>
         <extension class-name="org.gvsig.metadata.extension.MetadataExtension"
                 description="Metadata Extension (GUI + Metadata Publish Assistant)"
                 active="true"
                 priority="1">
         </extension>            
   </extensions>
</plugin-config>